<div class="row card p-3 mx-4 mt-4">
  <div class="d-flex justify-content-center">
    <form action="/answer" data-turbo="false">
      <input class="form-control mb-3 mt-3" type="text" name="answer">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
